/* screen - ji-shi-yi-lan */

.ji-shi-yi-lan {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 4241px;
  overflow: hidden;
  width: 1920px;
}

.ji-shi-yi-lan .x4-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 152px;
  position: fixed;
  top: 0;
  width: 1920px;
  z-index: 2;
}

.ji-shi-yi-lan .overlap-group1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 150px;
  justify-content: flex-end;
  min-width: 1920px;
  padding: 36.4px 158.5px;
}

.ji-shi-yi-lan .x1497 {
  height: 61px;
  margin-top: 1.55px;
  object-fit: cover;
  width: 331px;
}

.ji-shi-yi-lan .price {
  letter-spacing: 0;
  line-height: 86px;
  margin-bottom: 22.0px;
  margin-left: 74px;
  min-height: 29px;
  min-width: 41px;
  white-space: nowrap;
}

.ji-shi-yi-lan .faq {
  letter-spacing: 0;
  line-height: 86px;
  margin-bottom: 22.0px;
  margin-left: 28px;
  min-height: 29px;
  min-width: 133px;
  white-space: nowrap;
}

.ji-shi-yi-lan .text-197 {
  letter-spacing: 0;
  line-height: 86px;
  margin-bottom: 22.0px;
  margin-left: 28px;
  min-height: 29px;
  min-width: 135px;
  white-space: nowrap;
}

.ji-shi-yi-lan .text-198 {
  letter-spacing: 0;
  line-height: 86px;
  margin-bottom: 22.0px;
  margin-left: 28px;
  min-height: 29px;
  min-width: 78px;
  white-space: nowrap;
}

.ji-shi-yi-lan .text-199 {
  letter-spacing: 0;
  line-height: 86px;
  margin-bottom: 22.0px;
  margin-left: 28px;
  min-height: 29px;
  min-width: 116px;
  white-space: nowrap;
}

.ji-shi-yi-lan .x17 {
  background-color: var(--fern-frond);
  height: 2px;
  width: 1920px;
}

.ji-shi-yi-lan .text-200 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 65px;
  margin-left: 360px;
  margin-top: 208px;
  min-height: 67px;
  white-space: nowrap;
  z-index: 3;
}

.ji-shi-yi-lan .overlap-group2 {
  align-items: flex-start;
  background-color: var(--fern-frond);
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 407px;
  padding: 42.5px 358px;
  width: 1920px;
  z-index: 4;
}

.ji-shi-yi-lan .text-201 {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 2px;
  min-height: 38px;
  white-space: nowrap;
}

.ji-shi-yi-lan .text_label {
  align-self: flex-end;
  color: var(--white);
  font-family: var(--font-family-sourcehan_sans_jp-regular);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  height: 172px;
  letter-spacing: 0;
  line-height: 36px;
  margin-top: 14px;
  width: 1202px;
}

.ji-shi-yi-lan .text-202 {
  letter-spacing: 2.00px;
  line-height: 42px;
  min-height: 31px;
  min-width: 132px;
  text-align: center;
  white-space: nowrap;
}

.ji-shi-yi-lan .overlap-group-container {
  gap: 30px;
  margin-top: 76px;
  min-width: 960px;
  z-index: 5;
}

.ji-shi-yi-lan .text-203 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 31px;
  min-width: 262px;
  text-align: center;
  white-space: nowrap;
}

.ji-shi-yi-lan .overlap-group8 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  min-width: 300px;
  padding: 15.5px 79px;
}

.ji-shi-yi-lan .text-205 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 31px;
  min-width: 142px;
  text-align: center;
  white-space: nowrap;
}

.ji-shi-yi-lan .overlap-group5 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  min-width: 300px;
  padding: 15.5px 69px;
}

.ji-shi-yi-lan .text-207 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 31px;
  min-width: 162px;
  text-align: center;
  white-space: nowrap;
}

.ji-shi-yi-lan .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  gap: 30px;
  margin-top: 30px;
  min-width: 960px;
  z-index: 6;
}

.ji-shi-yi-lan .overlap-group9 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  min-width: 300px;
  padding: 15.5px 59px;
}

.ji-shi-yi-lan .text-204 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 31px;
  min-width: 182px;
  text-align: center;
  white-space: nowrap;
}

.ji-shi-yi-lan .overlap-group3 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  min-width: 300px;
  padding: 15.5px 39px;
}

.ji-shi-yi-lan .text-206 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 31px;
  min-width: 222px;
  text-align: center;
  white-space: nowrap;
}

.ji-shi-yi-lan .overlap-group7 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  min-width: 300px;
  padding: 15.5px 89px;
}

.ji-shi-yi-lan .text-208 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 31px;
  min-width: 122px;
  text-align: center;
  white-space: nowrap;
}

.ji-shi-yi-lan .x1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 1.0px;
  margin-top: 70px;
  min-height: 2643px;
  width: 1199px;
  z-index: 7;
}

.ji-shi-yi-lan .x1-item {
  align-items: flex-start;
  display: flex;
  height: 1122px;
  min-width: 1199px;
}

.ji-shi-yi-lan .flex-col {
  flex-direction: column;
  min-height: 1122px;
  width: 270px;
}

.ji-shi-yi-lan .dscn3975 {
  height: 270px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .x1587 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 162px;
}

.ji-shi-yi-lan .text-2 {
  flex: 1;
  height: 31px;
  letter-spacing: 0;
  line-height: 42px;
  margin-bottom: 4.5px;
  margin-right: -2px;
  max-height: 31px;
  white-space: nowrap;
}

.ji-shi-yi-lan .x1592 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 162px;
}

.ji-shi-yi-lan .p7150002 {
  height: 270px;
  margin-top: 33px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .x1596 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 162px;
}

.ji-shi-yi-lan .flex-col-1 {
  align-items: flex-start;
  margin-left: 40px;
  min-height: 1122px;
  width: 270px;
}

.ji-shi-yi-lan .pc090015 {
  height: 270px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .x1588 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 202px;
}

.ji-shi-yi-lan .dscn9471 {
  height: 270px;
  margin-top: 33px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .x1593 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 202px;
}

.ji-shi-yi-lan .dscn9986 {
  height: 270px;
  margin-top: 33px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .x1597 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 202px;
}

.ji-shi-yi-lan .flex-col-2 {
  align-items: flex-start;
  margin-left: 39px;
  min-height: 1122px;
  width: 270px;
}

.ji-shi-yi-lan .p1290074 {
  height: 270px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .x1589 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 202px;
}

.ji-shi-yi-lan .x1594 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 202px;
}

.ji-shi-yi-lan .p7150009 {
  height: 270px;
  margin-top: 33px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .x1598 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 202px;
}

.ji-shi-yi-lan .p4120182 {
  height: 270px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .x159 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 182px;
}

.ji-shi-yi-lan .p5260068 {
  height: 270px;
  margin-top: 33px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .x1595 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 202px;
}

.ji-shi-yi-lan .dscn9369 {
  height: 270px;
  margin-top: 33px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .overlap-group4 {
  align-items: flex-start;
  background-color: var(--fern-frond);
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 245px;
  min-height: 332px;
  padding: 52.3px 358.0px;
  width: 1920px;
  z-index: 1;
}

.ji-shi-yi-lan .flex-row {
  align-self: flex-end;
  gap: 28px;
  height: 139px;
  margin-top: 10px;
  min-width: 1203px;
}

.ji-shi-yi-lan .flex-col-3 {
  align-items: flex-start;
  gap: 23px;
  min-height: 106px;
  width: 333px;
}

.ji-shi-yi-lan .x1497-1 {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  min-width: 300px;
}

.ji-shi-yi-lan .overlap-group {
  height: 56px;
  position: relative;
  width: 300px;
}

.ji-shi-yi-lan .x1496 {
  background-image: url(../img/file-----1495-1x-png-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.ji-shi-yi-lan .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 28px;
  height: 27px;
  margin-left: 0.92px;
  min-width: 332px;
}

.ji-shi-yi-lan .price-1 {
  letter-spacing: 0;
  line-height: 86px;
  min-height: 27px;
  min-width: 36px;
  white-space: nowrap;
}

.ji-shi-yi-lan .faq-1 {
  letter-spacing: 0;
  line-height: 86px;
  min-height: 27px;
  min-width: 119px;
  white-space: nowrap;
}

.ji-shi-yi-lan .text-193 {
  letter-spacing: 0;
  line-height: 86px;
  min-height: 27px;
  white-space: nowrap;
}

.ji-shi-yi-lan .flex-row-2 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  height: 100px;
  min-width: 842px;
}

.ji-shi-yi-lan .text-194 {
  letter-spacing: 0;
  line-height: 86px;
  margin-top: 6.1px;
  min-height: 27px;
  min-width: 70px;
  white-space: nowrap;
}

.ji-shi-yi-lan .text-195 {
  letter-spacing: 0;
  line-height: 86px;
  margin-left: 28px;
  margin-top: 6.1px;
  min-height: 27px;
  min-width: 104px;
  white-space: nowrap;
}

.ji-shi-yi-lan .overlap-group-1 {
  align-self: flex-end;
  background-image: url(../img/file---110-1x-png-2-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 42px;
  justify-content: flex-end;
  margin-left: 368px;
  min-width: 42px;
  padding: 7.0px 6.9px;
}

.ji-shi-yi-lan .flex-col-4 {
  align-items: flex-end;
  align-self: flex-start;
  gap: -55px;
  margin-left: 12px;
  min-height: 82px;
  width: 218px;
}

.ji-shi-yi-lan .text-196 {
  letter-spacing: 0;
  line-height: 89px;
  margin-right: 3px;
  min-height: 23px;
  min-width: 115px;
  white-space: nowrap;
}

.ji-shi-yi-lan .overlap-group10 {
  height: 48px;
  position: relative;
  width: 218px;
}

.ji-shi-yi-lan .details_pr {
  height: 270px;
  margin-top: 33px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .details_pr-06-3 {
  height: 270px;
  margin-top: 33px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .details_pr-09-3 {
  height: 270px;
  margin-top: 33px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .dscn3975-3 {
  height: 270px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .dscn9369-3 {
  height: 270px;
  margin-top: 33px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .dscn9471-3 {
  height: 270px;
  margin-top: 33px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .dscn9986-3 {
  height: 270px;
  margin-top: 33px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .flex-col-5 {
  display: flex;
  flex-direction: column;
}

.ji-shi-yi-lan .overlap-group-2 {
  align-items: flex-start;
  display: flex;
}

.ji-shi-yi-lan .p1290074-3 {
  height: 270px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .p4120182-3 {
  height: 270px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .p5260068-3 {
  height: 270px;
  margin-top: 33px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .p7150002-3 {
  height: 270px;
  margin-top: 33px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .p7150009-3 {
  height: 270px;
  margin-top: 33px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .pc090015-3 {
  height: 270px;
  object-fit: cover;
  width: 270px;
}

.ji-shi-yi-lan .x1587-3 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 162px;
}

.ji-shi-yi-lan .x1588-3 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 202px;
}

.ji-shi-yi-lan .x1589-3 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 202px;
}

.ji-shi-yi-lan .x1592-3 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 162px;
}

.ji-shi-yi-lan .x1593-3 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 202px;
}

.ji-shi-yi-lan .x1594-3 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 202px;
}

.ji-shi-yi-lan .x1595-3 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 202px;
}

.ji-shi-yi-lan .x1596-3 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 162px;
}

.ji-shi-yi-lan .x1597-3 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 202px;
}

.ji-shi-yi-lan .x1598-3 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  margin-top: 20px;
  width: 202px;
}
