/* screen - web-1920-5 */

.web-1920-5 {
  background-color: var(--white);
  cursor: pointer;
  height: 19979px;
  position: relative;
  width: 1920px;
}

.web-1920-5 .overlap-group32 {
  height: 870px;
  left: 0;
  position: absolute;
  top: 152px;
  width: 1920px;
}

.web-1920-5 .x2010_0611_153515-cimg3286 {
  height: 800px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1920px;
}

.web-1920-5 .x834 {
  height: 70px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 800px;
  width: 1920px;
}

.web-1920-5 .text-1-1 {
  color: var(--white);
  font-family: var(--font-family-sourcehan_sans_jp-medium);
  font-size: var(--font-size-xs);
  font-weight: 500;
  left: 499px;
  letter-spacing: 0;
  line-height: 86px;
  position: absolute;
  top: 792px;
  white-space: nowrap;
}

.web-1920-5 .x1546 {
  display: flex;
  height: 137px;
  left: 160px;
  position: absolute;
  top: 270px;
  width: 642px;
}

.web-1920-5 .x1500 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  justify-content: center;
  min-width: 641.86px;
}

.web-1920-5 .overlap-group-3 {
  height: 137px;
  margin-bottom: 0;
  position: relative;
  width: 642px;
}

.web-1920-5 .x57 {
  background-color: var(--white);
  height: 65px;
  left: 0;
  position: absolute;
  top: 72px;
  width: 642px;
}

.web-1920-5 .x58 {
  background-color: var(--white);
  height: 137px;
  left: 0;
  position: absolute;
  top: 0;
  width: 369px;
}

.web-1920-5 .x1499 {
  background-image: url(../img/file-----1498@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 137px;
  left: 0;
  position: absolute;
  top: 0;
  width: 642px;
}

.web-1920-5 .x61 {
  background-color: var(--white);
  height: 40px;
  left: 360px;
  position: absolute;
  top: 815px;
  width: 100px;
}

.web-1920-5 .new {
  color: var(--barley-corn);
  font-family: var(--font-family-sourcehan_sans_jp-bold);
  font-size: var(--font-size-xs);
  font-weight: 700;
  left: 385px;
  letter-spacing: 0;
  line-height: 86px;
  position: absolute;
  text-align: center;
  top: 792px;
  white-space: nowrap;
}

.web-1920-5 .x9-5 {
  display: flex;
  height: 68px;
  left: 160px;
  position: absolute;
  top: 447px;
  width: 490px;
}

.web-1920-5 .overlap-group50 {
  height: 674px;
  left: 0;
  position: absolute;
  top: 13259px;
  width: 1920px;
}

.web-1920-5 .overlap-group19 {
  height: 663px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.web-1920-5 .x1000_f_428728921_x74 {
  height: 578px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 85px;
  width: 820px;
}

.web-1920-5 .x91 {
  background-color: var(--olivine);
  height: 170px;
  left: 685px;
  position: absolute;
  top: 0;
  width: 1235px;
}

.web-1920-5 .text-40 {
  color: var(--white);
  font-family: var(--font-family-sourcehan_sans_jp-light);
  font-size: 45px;
  font-weight: 300;
  left: 738px;
  letter-spacing: 0;
  line-height: 65px;
  position: absolute;
  top: 52px;
  white-space: nowrap;
}

.web-1920-5 .title {
  color: #00000072;
  font-family: var(--font-family-sourcehan_sans_jp-medium);
  font-size: 80px;
  font-weight: 500;
  left: 254px;
  letter-spacing: 0;
  line-height: 65px;
  position: absolute;
  top: 348px;
  white-space: nowrap;
}

.web-1920-5 .company-profile {
  left: 1010px;
  letter-spacing: 3.20px;
  line-height: 65px;
  position: absolute;
  top: 58px;
  white-space: nowrap;
}

.web-1920-5 .x18 {
  height: 70px;
  left: 964px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 1px;
}

.web-1920-5 .text-52 {
  left: 333px;
  letter-spacing: 0;
  line-height: 86px;
  opacity: 0.53;
  position: absolute;
  top: 428px;
  white-space: nowrap;
}

.web-1920-5 .text {
  left: 960px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 348px;
  width: 602px;
}

.web-1920-5 .text-1 {
  left: 960px;
  letter-spacing: 0;
  line-height: 65px;
  position: absolute;
  top: 259px;
  white-space: nowrap;
}

.web-1920-5 .text-41 {
  left: 965px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 566px;
  white-space: nowrap;
}

.web-1920-5 .sign {
  height: 71px;
  left: 960px;
  object-fit: cover;
  position: absolute;
  top: 603px;
  width: 206px;
}

.web-1920-5 .overlap-group20 {
  height: 861px;
  left: 0;
  position: absolute;
  top: 12195px;
  width: 1920px;
}

.web-1920-5 .x1571 {
  height: 772px;
  left: 353px;
  position: absolute;
  top: 89px;
  width: 1567px;
}

.web-1920-5 .overlap-group1 {
  height: 772px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1567px;
}

.web-1920-5 .text-3-1 {
  left: 70px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 480px;
  white-space: nowrap;
}

.web-1920-5 .text-4 {
  height: 213px;
  left: 70px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 520px;
  width: 657px;
}

.web-1920-5 .text-5-1 {
  left: 71px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 324px;
  white-space: nowrap;
  width: 471px;
}

.web-1920-5 .text-6 {
  left: 70px;
  letter-spacing: 0;
  line-height: 65px;
  position: absolute;
  top: 380px;
  white-space: nowrap;
}

.web-1920-5 .dscn4400 {
  height: 578px;
  left: 747px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 820px;
}

.web-1920-5 .text-7-1 {
  left: 7px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 154px;
  white-space: nowrap;
  width: 602px;
}

.web-1920-5 .x89 {
  background-color: var(--fern-frond);
  height: 170px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1235px;
}

.web-1920-5 .text-39 {
  color: var(--white);
  font-family: var(--font-family-sourcehan_sans_jp-light);
  font-size: 45px;
  font-weight: 300;
  left: 360px;
  letter-spacing: 0;
  line-height: 65px;
  position: absolute;
  top: 52px;
  white-space: nowrap;
}

.web-1920-5 .craftsmen {
  left: 772px;
  letter-spacing: 3.20px;
  line-height: 65px;
  position: absolute;
  top: 58px;
  white-space: nowrap;
}

.web-1920-5 .x19 {
  height: 70px;
  left: 726px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 1px;
}

.web-1920-5 .text_label {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 16820px;
  width: 1202px;
}

.web-1920-5 .text-8 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 6766px;
  white-space: nowrap;
}

.web-1920-5 .a {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 9810px;
  white-space: nowrap;
}

.web-1920-5 .t {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 10524px;
  white-space: nowrap;
}

.web-1920-5 .i {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 11238px;
  white-space: nowrap;
}

.web-1920-5 .text-9 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 9918px;
  white-space: nowrap;
}

.web-1920-5 .text-10 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 10632px;
  white-space: nowrap;
}

.web-1920-5 .text-11 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 11346px;
  white-space: nowrap;
}

.web-1920-5 .text-12 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 10050px;
  white-space: nowrap;
}

.web-1920-5 .text-13 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 10350px;
  white-space: nowrap;
}

.web-1920-5 .text-14 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 11064px;
  white-space: nowrap;
}

.web-1920-5 .text-15 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 11652px;
  white-space: nowrap;
}

.web-1920-5 .text-16 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 10848px;
  white-space: nowrap;
}

.web-1920-5 .text-17 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 11520px;
  white-space: nowrap;
}

.web-1920-5 .text-18 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 9976px;
  white-space: nowrap;
}

.web-1920-5 .text-19 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 10685px;
  width: 752px;
}

.web-1920-5 .text-20 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 11399px;
  width: 752px;
}

.web-1920-5 .text-21 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 10103px;
  width: 752px;
}

.web-1920-5 .text-22 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 10403px;
  white-space: nowrap;
  width: 752px;
}

.web-1920-5 .text-23 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 11117px;
  white-space: nowrap;
  width: 752px;
}

.web-1920-5 .text-24 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 11705px;
  white-space: nowrap;
  width: 752px;
}

.web-1920-5 .text-25 {
  left: 1204px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 11070px;
  white-space: nowrap;
}

.web-1920-5 .text-26 {
  left: 1204px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 11784px;
  white-space: nowrap;
}

.web-1920-5 .text-27 {
  left: 1204px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 10352px;
  white-space: nowrap;
}

.web-1920-5 .text-28 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 10901px;
  width: 752px;
}

.web-1920-5 .text-29 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 11573px;
  white-space: nowrap;
  width: 752px;
}

.web-1920-5 .text-30 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 7232px;
  white-space: nowrap;
}

.web-1920-5 .text-31 {
  left: 980px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 6766px;
  white-space: nowrap;
}

.web-1920-5 .text-32 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 5524px;
  white-space: nowrap;
}

.web-1920-5 .text-33 {
  left: 874px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 5524px;
  white-space: nowrap;
}

.web-1920-5 .text-34 {
  left: 980px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 7232px;
  white-space: nowrap;
}

.web-1920-5 .overlap-group35 {
  align-items: flex-start;
  background-color: var(--fern-frond);
  display: flex;
  height: 70px;
  left: 360px;
  min-width: 1200px;
  padding: 2.5px 33px;
  position: absolute;
  top: 6629px;
}

.web-1920-5 .text-2 {
  letter-spacing: 0;
  line-height: 65px;
  min-height: 46px;
  white-space: nowrap;
}

.web-1920-5 .overlap-group21 {
  align-items: flex-start;
  background-color: var(--fern-frond);
  display: flex;
  height: 70px;
  left: 360px;
  min-width: 1200px;
  padding: 2.5px 33px;
  position: absolute;
  top: 9671px;
}

.web-1920-5 .overlap-group31 {
  align-items: flex-start;
  background-color: var(--fern-frond);
  display: flex;
  height: 70px;
  left: 360px;
  min-width: 1200px;
  padding: 2.5px 33px;
  position: absolute;
  top: 16710px;
}

.web-1920-5 .overlap-group33 {
  align-items: flex-end;
  background-image: url(../img/adobestock-495890739-preview@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 350px;
  justify-content: flex-end;
  left: 360px;
  min-width: 580px;
  padding: 131px 246px;
  position: absolute;
  top: 6825px;
}

.web-1920-5 .x23 {
  height: 87px;
  object-fit: cover;
  width: 87px;
}

.web-1920-5 .letter-img01 {
  top: 9981px;
}

.web-1920-5 .letter-img02 {
  top: 10695px;
}

.web-1920-5 .letter-img03 {
  top: 11409px;
}

.web-1920-5 .overlap-group37 {
  align-items: flex-end;
  background-image: url(../img/adobestock-300489059-preview@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 350px;
  justify-content: flex-end;
  left: 360px;
  min-width: 580px;
  padding: 131px 246px;
  position: absolute;
  top: 7291px;
}

.web-1920-5 .x26 {
  height: 87px;
  object-fit: cover;
  width: 87px;
}

.web-1920-5 .overlap-group28 {
  align-items: flex-end;
  background-image: url(../img/adobestock-240778914-preview@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 350px;
  justify-content: flex-end;
  left: 980px;
  min-width: 580px;
  padding: 131px 246px;
  position: absolute;
  top: 6825px;
}

.web-1920-5 .x24 {
  height: 87px;
  object-fit: cover;
  width: 87px;
}

.web-1920-5 .overlap-group36 {
  align-items: flex-end;
  background-image: url(../img/adobestock-302387440-preview@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 350px;
  justify-content: flex-end;
  left: 980px;
  min-width: 580px;
  padding: 131px 246px;
  position: absolute;
  top: 7291px;
}

.web-1920-5 .x25 {
  height: 87px;
  object-fit: cover;
  width: 87px;
}

.web-1920-5 .x1512 {
  display: flex;
  height: 70px;
  justify-content: space-between;
  left: 820px;
  position: absolute;
  top: 7716px;
  width: 280px;
}

.web-1920-5 .x1508 {
  align-items: flex-start;
  background-color: var(--barley-corn);
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  margin-top: 5px;
  min-width: 180px;
  padding: 9.5px 26px;
}

.web-1920-5 .learn-more {
  letter-spacing: 2.00px;
  line-height: 42px;
  min-height: 31px;
  min-width: 126px;
  text-align: center;
  white-space: nowrap;
}

.web-1920-5 .component-play-white {
  align-items: flex-start;
  display: flex;
  min-width: 70px;
}

.web-1920-5 .overlap-group {
  border-radius: 35px;
  height: 70px;
  position: relative;
  width: 70px;
}

.web-1920-5 .x5-1 {
  height: 16px;
  left: 31px;
  top: 27px;
  width: 13px;
}

.web-1920-5 .x2 {
  border: 2px solid;
  border-color: var(--barley-corn);
  border-radius: 35px;
  height: 70px;
  left: 0;
  position: absolute;
  top: 0;
  width: 70px;
}

.web-1920-5 .x1542 {
  display: flex;
  height: 70px;
  justify-content: space-between;
  left: 820px;
  position: absolute;
  top: 11935px;
  width: 280px;
}

.web-1920-5 .x5-2 {
  height: 16px;
  left: 31px;
  top: 27px;
  width: 13px;
}

.web-1920-5 .x2-1 {
  border: 2px solid;
  border-color: var(--barley-corn);
  border-radius: 35px;
  left: 0;
  top: 0;
  width: 70px;
}

.web-1920-5 .x5-3 {
  height: 1px;
  left: 360px;
  top: 9870px;
  width: 1200px;
}

.web-1920-5 .x6 {
  height: 1px;
  left: 360px;
  object-fit: cover;
  position: absolute;
  top: 10584px;
  width: 1200px;
}

.web-1920-5 .x7-1 {
  height: 1px;
  left: 360px;
  object-fit: cover;
  position: absolute;
  top: 11298px;
  width: 1200px;
}

.web-1920-5 .x2022-07-16-182647 {
  height: 540px;
  left: 360px;
  object-fit: cover;
  position: absolute;
  top: 16018px;
  width: 1200px;
}

.web-1920-5 .overlap-group9 {
  align-items: flex-start;
  background-color: var(--mercury);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  left: 360px;
  min-width: 330px;
  padding: 12px 39px;
  position: absolute;
  top: 17174px;
}

.web-1920-5 .text-42 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  white-space: nowrap;
}

.web-1920-5 .overlap-group42 {
  align-items: flex-start;
  background-color: var(--mercury);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  left: 360px;
  min-width: 330px;
  padding: 12px 39px;
  position: absolute;
  top: 17254px;
}

.web-1920-5 .tel {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  white-space: nowrap;
}

.web-1920-5 .overlap-group15 {
  align-items: flex-start;
  background-color: var(--mercury);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  left: 360px;
  min-width: 330px;
  padding: 12px 39px;
  position: absolute;
  top: 17334px;
}

.web-1920-5 .text-43 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  white-space: nowrap;
}

.web-1920-5 .overlap-group18 {
  align-items: flex-start;
  background-color: var(--mercury);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  left: 360px;
  min-width: 330px;
  padding: 12px 39px;
  position: absolute;
  top: 17704px;
}

.web-1920-5 .text-44 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  white-space: nowrap;
}

.web-1920-5 .overlap-group25 {
  height: 70px;
  left: 360px;
  position: absolute;
  top: 17784px;
  width: 1200px;
}

.web-1920-5 .x104 {
  background-color: var(--mercury);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 70px;
  left: 0;
  position: absolute;
  top: 0;
  width: 330px;
}

.web-1920-5 .x105 {
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 70px;
  left: 340px;
  position: absolute;
  top: 0;
  width: 860px;
}

.web-1920-5 .text-45 {
  color: #902323;
  font-family: var(--font-family-source_han_sans_jp);
  font-size: var(--font-size-m);
  font-weight: 500;
  left: 40px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.web-1920-5 .span-1 {
  font-family: var(--font-family-sourcehan_sans_jp-medium);
}

.web-1920-5 .overlap-group24 {
  align-items: flex-start;
  background-color: var(--mercury);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  left: 360px;
  min-width: 330px;
  padding: 12px 39px;
  position: absolute;
  top: 17864px;
}

.web-1920-5 .text-46 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  white-space: nowrap;
}

.web-1920-5 .overlap-group22 {
  align-items: flex-start;
  background-color: var(--mercury);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 280px;
  left: 360px;
  min-width: 330px;
  padding: 12px 39px;
  position: absolute;
  top: 17414px;
}

.web-1920-5 .text-48 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  white-space: nowrap;
}

.web-1920-5 .x95 {
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 70px;
  left: 700px;
  position: absolute;
  top: 17174px;
  width: 860px;
}

.web-1920-5 .x97 {
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 70px;
  left: 700px;
  position: absolute;
  top: 17254px;
  width: 860px;
}

.web-1920-5 .x99 {
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 70px;
  left: 700px;
  position: absolute;
  top: 17334px;
  width: 860px;
}

.web-1920-5 .x103 {
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 70px;
  left: 700px;
  position: absolute;
  top: 17704px;
  width: 860px;
}

.web-1920-5 .overlap-group29 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  left: 700px;
  min-width: 860px;
  padding: 13px 40px;
  position: absolute;
  top: 17864px;
}

.web-1920-5 .overlap-group43 {
  align-items: flex-start;
  align-self: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 16px/16.5px;
  display: flex;
  height: 33px;
  margin-top: 3.0px;
  min-width: 32px;
  padding: 6px 5px;
}

.web-1920-5 .x9 {
  background-color: var(--old-brick);
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

.web-1920-5 .text-50 {
  letter-spacing: 0;
  line-height: 42px;
  margin-left: 16px;
  min-height: 36px;
  min-width: 48px;
  opacity: 1.0;
  white-space: nowrap;
}

.web-1920-5 .x10 {
  align-self: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 16px/16.5px;
  height: 33px;
  margin-left: 38px;
  margin-top: 1.0px;
  width: 32px;
}

.web-1920-5 .text-51 {
  letter-spacing: 0;
  line-height: 42px;
  margin-left: 17px;
  min-height: 36px;
  opacity: 1.0;
  white-space: nowrap;
}

.web-1920-5 .overlap-group30 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 280px;
  left: 700px;
  min-width: 860px;
  padding: 14px 39px;
  position: absolute;
  top: 17414px;
}

.web-1920-5 .text-49 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 36px;
  opacity: 0.42;
  white-space: nowrap;
}

.web-1920-5 .text-47 {
  color: var(--black);
  font-family: var(--font-family-source_han_sans_jp);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 17942px;
  white-space: nowrap;
}

.web-1920-5 .span-2 {
  color: var(--old-brick);
  font-family: var(--font-family-sourcehan_sans_jp-normal);
}

.web-1920-5 .x10-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 360px;
  min-height: 1854px;
  position: absolute;
  top: 14054px;
  width: 1200px;
}

.web-1920-5 .x20 {
  height: 1px;
  margin-left: 0.5px;
  object-fit: cover;
  width: 1200px;
}

.web-1920-5 .text-container-1 {
  gap: 158px;
  height: 38px;
  min-width: 609px;
}

.web-1920-5 .text-5 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  min-width: 77px;
  white-space: nowrap;
}

.web-1920-5 .text-62 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  white-space: nowrap;
}

.web-1920-5 .x10-5-item {
  height: 1px;
  margin-left: 0.5px;
  margin-top: 44px;
  object-fit: cover;
  width: 1200px;
}

.web-1920-5 .text-container-2 {
  gap: 183px;
  height: 38px;
  min-width: 460px;
}

.web-1920-5 .text-56 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  min-width: 52px;
  white-space: nowrap;
}

.web-1920-5 .text-64 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  white-space: nowrap;
}

.web-1920-5 .text-container-3 {
  gap: 158px;
  height: 38px;
  min-width: 437px;
}

.web-1920-5 .text-63 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  white-space: nowrap;
}

.web-1920-5 .text-container {
  align-items: flex-start;
  display: flex;
  gap: 158px;
  height: 38px;
  margin-top: 42px;
  min-width: 800px;
}

.web-1920-5 .text-65 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  white-space: nowrap;
}

.web-1920-5 .flex-row {
  gap: 158px;
  height: 122px;
  margin-top: 42px;
  min-width: 669px;
}

.web-1920-5 .tel0120-756461 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 122px;
  white-space: nowrap;
}

.web-1920-5 .x15 {
  height: 1px;
  margin-left: 0.5px;
  margin-top: 46px;
  object-fit: cover;
  width: 1200px;
}

.web-1920-5 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 83px;
  height: 38px;
  margin-top: 42px;
  min-width: 564px;
}

.web-1920-5 .text-55 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  min-width: 152px;
  white-space: nowrap;
}

.web-1920-5 .httpwwwtotalhomeprojp {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  white-space: nowrap;
}

.web-1920-5 .text-66 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  white-space: nowrap;
}

.web-1920-5 .text-container-4 {
  gap: 133px;
  height: 206px;
  min-width: 462px;
}

.web-1920-5 .text-60 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  min-width: 102px;
  white-space: nowrap;
}

.web-1920-5 .text-67 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 206px;
  white-space: nowrap;
}

.web-1920-5 .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 500px;
  margin-top: 42px;
  min-width: 958px;
}

.web-1920-5 .text-61 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 38px;
  min-width: 127px;
  white-space: nowrap;
}

.web-1920-5 .tot0 {
  letter-spacing: 0;
  line-height: 42px;
  margin-left: 108px;
  min-height: 500px;
  min-width: 436px;
  white-space: nowrap;
}

.web-1920-5 .inaxtoto {
  letter-spacing: 0;
  line-height: 42px;
  margin-left: 110px;
  min-height: 458px;
  white-space: nowrap;
}

.web-1920-5 .x17 {
  height: 1px;
  margin-left: 0.5px;
  margin-top: 48px;
  object-fit: cover;
  width: 1200px;
}

.web-1920-5 .text-68 {
  left: 360px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 1877px;
  width: 1202px;
}

.web-1920-5 .x1502 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 360px;
  min-height: 310px;
  position: absolute;
  top: 1316px;
  width: 380px;
}

.web-1920-5 .dscn9818 {
  height: 220px;
  object-fit: cover;
  width: 380px;
}

.web-1920-5 .overlap-group-1 {
  align-items: flex-end;
  background-color: var(--olivine);
  display: flex;
  height: 90px;
  min-width: 380px;
  padding: 4px 10px;
}

.web-1920-5 .text-69 {
  letter-spacing: 0;
  line-height: 38px;
  min-height: 80px;
  min-width: 338px;
  white-space: nowrap;
}

.web-1920-5 .x1503 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 770px;
  min-height: 310px;
  position: absolute;
  top: 1316px;
  width: 380px;
}

.web-1920-5 .pc040017 {
  height: 220px;
  object-fit: cover;
  width: 380px;
}

.web-1920-5 .text-70 {
  letter-spacing: 0;
  line-height: 38px;
  min-height: 80px;
  min-width: 281px;
  white-space: nowrap;
}

.web-1920-5 .x1504 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1180px;
  min-height: 310px;
  position: absolute;
  top: 1316px;
  width: 380px;
}

.web-1920-5 .img_4174 {
  height: 220px;
  object-fit: cover;
  width: 380px;
}

.web-1920-5 .text-71 {
  letter-spacing: 0;
  line-height: 38px;
  min-height: 80px;
  min-width: 282px;
  white-space: nowrap;
}

.web-1920-5 .overlap-group10 {
  background-color: #323232;
  height: 250px;
  left: 360px;
  position: absolute;
  top: 2162px;
  width: 580px;
}

.web-1920-5 .overlap-group44 {
  height: 229px;
  left: 38px;
  position: absolute;
  top: 21px;
  width: 542px;
}

.web-1920-5 .top-yasusa {
  height: 229px;
  left: 361px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 181px;
}

.web-1920-5 .text-73 {
  color: var(--white);
  font-family: var(--font-family-sourcehan_sans_jp-medium);
  font-size: 22px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 117px;
  width: 427px;
}

.web-1920-5 .text-72 {
  color: var(--white);
  font-family: var(--font-family-sourcehan_sans_jp-bold);
  font-size: 38px;
  font-weight: 700;
  left: 38px;
  letter-spacing: 0;
  line-height: 52px;
  position: absolute;
  top: 22px;
  white-space: nowrap;
}

.web-1920-5 .overlap-group23 {
  background-image: url(../img/top-kaiketsu@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 250px;
  left: 980px;
  position: absolute;
  top: 2162px;
  width: 580px;
}

.web-1920-5 .x109 {
  background-color: #323232;
  height: 68px;
  left: 0;
  position: absolute;
  top: 182px;
  width: 580px;
}

.web-1920-5 .text-74 {
  color: var(--white);
  font-family: var(--font-family-sourcehan_sans_jp-bold);
  font-size: 36px;
  font-weight: 700;
  left: 56px;
  letter-spacing: 0;
  line-height: 86px;
  position: absolute;
  text-align: center;
  top: 169px;
  white-space: nowrap;
}

.web-1920-5 .text-111 {
  color: #f70e0e;
  font-family: var(--font-family-sourcehan_sans_jp-medium);
  font-size: 80px;
  font-weight: 500;
  left: 130px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 75px;
  white-space: nowrap;
}

.web-1920-5 .overlap-group46 {
  height: 597px;
  left: 0;
  position: absolute;
  top: 2563px;
  width: 1920px;
}

.web-1920-5 .overlap-group-2 {
  height: 597px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.web-1920-5 .p4300055 {
  height: 508px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 89px;
  width: 865px;
}

.web-1920-5 .x71 {
  background-color: var(--fern-frond);
  height: 170px;
  left: 685px;
  position: absolute;
  top: 0;
  width: 1235px;
}

.web-1920-5 .x-reform {
  left: 911px;
  letter-spacing: 3.20px;
  line-height: 65px;
  position: absolute;
  top: 58px;
  white-space: nowrap;
}

.web-1920-5 .number {
  left: 738px;
  letter-spacing: 0;
  line-height: 65px;
  position: absolute;
  top: 56px;
  white-space: nowrap;
}

.web-1920-5 .x1 {
  height: 70px;
  left: 864px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 1px;
}

.web-1920-5 .x1505 {
  align-items: flex-start;
  background-color: var(--barley-corn);
  display: flex;
  height: 60px;
  justify-content: flex-end;
  left: 960px;
  min-width: 180px;
  padding: 9.5px 26px;
  position: absolute;
  top: 525px;
}

.web-1920-5 .component-play-white-1 {
  top: 520px;
}

.web-1920-5 .x5-4 {
  height: 16px;
  left: 31px;
  top: 27px;
  width: 13px;
}

.web-1920-5 .x2-2 {
  border: 2px solid;
  border-color: var(--barley-corn);
  border-radius: 35px;
  left: 0;
  top: 0;
  width: 70px;
}

.web-1920-5 .x14-5 {
  display: flex;
  height: 51px;
  left: 960px;
  position: absolute;
  top: 266px;
  width: 457px;
}

.web-1920-5 .text-109 {
  flex: 1;
  letter-spacing: 0;
  line-height: 65px;
  margin-bottom: 5px;
  margin-right: -2px;
  margin-top: -7px;
  white-space: nowrap;
  width: 457px;
}

.web-1920-5 .overlap-group48 {
  height: 597px;
  left: 0;
  position: absolute;
  top: 4077px;
  width: 1920px;
}

.web-1920-5 .p9010073 {
  height: 508px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 89px;
  width: 865px;
}

.web-1920-5 .x78 {
  background-color: var(--fern-frond);
  height: 170px;
  left: 685px;
  position: absolute;
  top: 0;
  width: 1235px;
}

.web-1920-5 .x4-1 {
  height: 70px;
  left: 864px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 1px;
}

.web-1920-5 .x1510 {
  align-items: flex-start;
  background-color: var(--barley-corn);
  display: flex;
  height: 60px;
  justify-content: flex-end;
  left: 960px;
  min-width: 180px;
  padding: 9.5px 26px;
  position: absolute;
  top: 500px;
}

.web-1920-5 .component-play-white-2 {
  top: 495px;
}

.web-1920-5 .x5-5 {
  height: 16px;
  left: 31px;
  top: 27px;
  width: 13px;
}

.web-1920-5 .x2-3 {
  border: 2px solid;
  border-color: var(--barley-corn);
  border-radius: 35px;
  left: 0;
  top: 0;
  width: 70px;
}

.web-1920-5 .overlap-group47 {
  height: 597px;
  left: 0;
  position: absolute;
  top: 3320px;
  width: 1920px;
}

.web-1920-5 .p1290080 {
  height: 508px;
  left: 1055px;
  object-fit: cover;
  position: absolute;
  top: 89px;
  width: 865px;
}

.web-1920-5 .x74 {
  background-color: var(--olivine);
  height: 170px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1235px;
}

.web-1920-5 .x-reform-1 {
  left: 533px;
  letter-spacing: 3.20px;
  line-height: 65px;
  position: absolute;
  top: 58px;
  white-space: nowrap;
}

.web-1920-5 .number-1 {
  left: 360px;
  letter-spacing: 0;
  line-height: 65px;
  position: absolute;
  top: 56px;
  white-space: nowrap;
}

.web-1920-5 .x2-4 {
  left: 486px;
  object-fit: cover;
  top: 50px;
  width: 1px;
}

.web-1920-5 .text-7 {
  left: 360px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 348px;
  width: 602px;
}

.web-1920-5 .x1513 {
  display: flex;
  height: 70px;
  justify-content: space-between;
  left: 360px;
  position: absolute;
  top: 520px;
  width: 280px;
}

.web-1920-5 .x1511 {
  align-items: flex-start;
  background-color: var(--barley-corn);
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  margin-top: 5px;
  min-width: 180px;
  padding: 9.5px 26px;
}

.web-1920-5 .x5-6 {
  height: 16px;
  left: 31px;
  top: 27px;
  width: 13px;
}

.web-1920-5 .x2-5 {
  border: 2px solid;
  border-color: var(--barley-corn);
  border-radius: 35px;
  left: 0;
  top: 0;
  width: 70px;
}

.web-1920-5 .x15-5 {
  display: flex;
  height: 51px;
  left: 360px;
  position: absolute;
  top: 266px;
  width: 247px;
}

.web-1920-5 .text-110 {
  flex: 1;
  letter-spacing: 0;
  line-height: 65px;
  margin-bottom: 5px;
  margin-right: -2px;
  margin-top: -7px;
  white-space: nowrap;
  width: 247px;
}

.web-1920-5 .overlap-group49 {
  height: 597px;
  left: 0;
  position: absolute;
  top: 4834px;
  width: 1920px;
}

.web-1920-5 .p1220017 {
  height: 508px;
  left: 1055px;
  object-fit: cover;
  position: absolute;
  top: 89px;
  width: 865px;
}

.web-1920-5 .x76 {
  background-color: var(--olivine);
  height: 170px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1235px;
}

.web-1920-5 .x3-1 {
  height: 70px;
  left: 486px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 1px;
}

.web-1920-5 .x1514 {
  display: flex;
  height: 70px;
  justify-content: space-between;
  left: 360px;
  position: absolute;
  top: 490px;
  width: 280px;
}

.web-1920-5 .x1511-1 {
  align-items: flex-start;
  background-color: var(--barley-corn);
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  margin-top: 5px;
  min-width: 180px;
  padding: 9.5px 26px;
}

.web-1920-5 .x5-7 {
  height: 16px;
  left: 31px;
  top: 27px;
  width: 13px;
}

.web-1920-5 .x2-6 {
  border: 2px solid;
  border-color: var(--barley-corn);
  border-radius: 35px;
  left: 0;
  top: 0;
  width: 70px;
}

.web-1920-5 .x13-5 {
  display: flex;
  height: 51px;
  left: 360px;
  position: absolute;
  top: 266px;
  width: 631px;
}

.web-1920-5 .text-108 {
  flex: 1;
  letter-spacing: 0;
  line-height: 65px;
  margin-bottom: 5px;
  margin-right: -2px;
  margin-top: -7px;
  white-space: nowrap;
  width: 631px;
}

.web-1920-5 .x1521 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  left: 360px;
  position: absolute;
  top: 8576px;
  width: 162px;
}

.web-1920-5 .text-3 {
  flex: 1;
  height: 31px;
  letter-spacing: 0;
  line-height: 42px;
  margin-bottom: 4.5px;
  margin-right: -2px;
  max-height: 31px;
  white-space: nowrap;
}

.web-1920-5 .x1522 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  left: 670px;
  position: absolute;
  top: 8576px;
  width: 202px;
}

.web-1920-5 .x1523 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  left: 979px;
  position: absolute;
  top: 8576px;
  width: 202px;
}

.web-1920-5 .x1524 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  left: 1289px;
  position: absolute;
  top: 8576px;
  width: 182px;
}

.web-1920-5 .overlap-group41 {
  align-items: flex-start;
  background-color: var(--olivine);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  left: 480px;
  min-width: 300px;
  padding: 15.5px 19px;
  position: absolute;
  top: 8046px;
}

.web-1920-5 .text-84 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 31px;
  min-width: 262px;
  text-align: center;
  white-space: nowrap;
}

.web-1920-5 .overlap-group39 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  left: 480px;
  min-width: 300px;
  padding: 15.5px 59px;
  position: absolute;
  top: 8146px;
}

.web-1920-5 .text-85 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 31px;
  min-width: 182px;
  text-align: center;
  white-space: nowrap;
}

.web-1920-5 .overlap-group26 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  left: 810px;
  min-width: 300px;
  padding: 15.5px 79px;
  position: absolute;
  top: 8046px;
}

.web-1920-5 .text-86 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 31px;
  min-width: 142px;
  text-align: center;
  white-space: nowrap;
}

.web-1920-5 .overlap-group38 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  left: 810px;
  min-width: 300px;
  padding: 15.5px 39px;
  position: absolute;
  top: 8146px;
}

.web-1920-5 .text-87 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 31px;
  min-width: 222px;
  text-align: center;
  white-space: nowrap;
}

.web-1920-5 .overlap-group16 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  left: 1140px;
  min-width: 300px;
  padding: 15.5px 69px;
  position: absolute;
  top: 8046px;
}

.web-1920-5 .text-88 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 31px;
  min-width: 162px;
  text-align: center;
  white-space: nowrap;
}

.web-1920-5 .overlap-group40 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  display: flex;
  height: 70px;
  left: 1140px;
  min-width: 300px;
  padding: 15.5px 89px;
  position: absolute;
  top: 8146px;
}

.web-1920-5 .text-89 {
  letter-spacing: 0;
  line-height: 42px;
  min-height: 31px;
  min-width: 122px;
  text-align: center;
  white-space: nowrap;
}

.web-1920-5 .overlap-group17 {
  align-items: flex-start;
  background-color: var(--fern-frond);
  display: flex;
  height: 70px;
  left: 360px;
  min-width: 1200px;
  padding: 2.5px 33px;
  position: absolute;
  top: 7906px;
}

.web-1920-5 .x1529 {
  display: flex;
  height: 70px;
  justify-content: space-between;
  left: 820px;
  position: absolute;
  top: 9481px;
  width: 280px;
}

.web-1920-5 .x5-8 {
  height: 16px;
  left: 31px;
  top: 27px;
  width: 13px;
}

.web-1920-5 .x2-7 {
  border: 2px solid;
  border-color: var(--barley-corn);
  border-radius: 35px;
  left: 0;
  top: 0;
  width: 70px;
}

.web-1920-5 .dscn3975 {
  height: 270px;
  left: 360px;
  object-fit: cover;
  position: absolute;
  top: 8286px;
  width: 270px;
}

.web-1920-5 .pc090015 {
  height: 270px;
  left: 670px;
  object-fit: cover;
  position: absolute;
  top: 8286px;
  width: 270px;
}

.web-1920-5 .p1290074 {
  height: 270px;
  left: 979px;
  object-fit: cover;
  position: absolute;
  top: 8286px;
  width: 270px;
}

.web-1920-5 .p4120182 {
  height: 270px;
  left: 1289px;
  object-fit: cover;
  position: absolute;
  top: 8286px;
  width: 270px;
}

.web-1920-5 .x1534 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  left: 360px;
  position: absolute;
  top: 8961px;
  width: 162px;
}

.web-1920-5 .x1535 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  left: 670px;
  position: absolute;
  top: 8961px;
  width: 202px;
}

.web-1920-5 .x1536 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  left: 979px;
  position: absolute;
  top: 8961px;
  width: 202px;
}

.web-1920-5 .x1537 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  left: 1289px;
  position: absolute;
  top: 8961px;
  width: 202px;
}

.web-1920-5 .details_pr-06 {
  left: 360px;
}

.web-1920-5 .dscn9471 {
  height: 270px;
  left: 670px;
  object-fit: cover;
  position: absolute;
  top: 8671px;
  width: 270px;
}

.web-1920-5 .details_pr-09 {
  left: 979px;
}

.web-1920-5 .p5260068 {
  height: 270px;
  left: 1289px;
  object-fit: cover;
  position: absolute;
  top: 8671px;
  width: 270px;
}

.web-1920-5 .x1538 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  left: 360px;
  position: absolute;
  top: 9346px;
  width: 162px;
}

.web-1920-5 .x1539 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  left: 670px;
  position: absolute;
  top: 9346px;
  width: 202px;
}

.web-1920-5 .x1540 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  left: 979px;
  position: absolute;
  top: 9346px;
  width: 202px;
}

.web-1920-5 .x1541 {
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: space-between;
  left: 1289px;
  position: absolute;
  top: 9346px;
  width: 182px;
}

.web-1920-5 .p7150002 {
  height: 270px;
  left: 360px;
  object-fit: cover;
  position: absolute;
  top: 9056px;
  width: 270px;
}

.web-1920-5 .dscn9986 {
  height: 270px;
  left: 670px;
  object-fit: cover;
  position: absolute;
  top: 9056px;
  width: 270px;
}

.web-1920-5 .p7150009 {
  height: 270px;
  left: 979px;
  object-fit: cover;
  position: absolute;
  top: 9056px;
  width: 270px;
}

.web-1920-5 .dscn9369 {
  height: 270px;
  left: 1289px;
  object-fit: cover;
  position: absolute;
  top: 9056px;
  width: 270px;
}

.web-1920-5 .overlap-group12 {
  align-items: flex-start;
  background-color: var(--fern-frond);
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: 0;
  min-height: 332px;
  padding: 52.3px 358.0px;
  position: absolute;
  top: 18193px;
  width: 1920px;
}

.web-1920-5 .flex-row-3 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 28px;
  height: 139px;
  margin-top: 10px;
  min-width: 1203px;
}

.web-1920-5 .flex-col {
  flex-direction: column;
  gap: 23px;
  min-height: 106px;
  width: 333px;
}

.web-1920-5 .x1497 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  justify-content: center;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  min-width: 300px;
}

.web-1920-5 .overlap-group-4 {
  height: 56px;
  margin-top: 0;
  position: relative;
  width: 300px;
}

.web-1920-5 .x1496 {
  background-image: url(../img/file-----1495-1x-png-7@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.web-1920-5 .flex-row-4 {
  align-items: flex-start;
  display: flex;
  gap: 28px;
  height: 27px;
  margin-left: 0.92px;
  min-width: 332px;
}

.web-1920-5 .price {
  letter-spacing: 0;
  line-height: 86px;
  min-height: 27px;
  min-width: 36px;
  white-space: nowrap;
}

.web-1920-5 .faq {
  letter-spacing: 0;
  line-height: 86px;
  min-height: 27px;
  min-width: 119px;
  white-space: nowrap;
}

.web-1920-5 .text-99 {
  letter-spacing: 0;
  line-height: 86px;
  min-height: 27px;
  white-space: nowrap;
}

.web-1920-5 .flex-row-5 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  height: 100px;
  min-width: 842px;
}

.web-1920-5 .text-100 {
  letter-spacing: 0;
  line-height: 86px;
  margin-top: 6.1px;
  min-height: 27px;
  min-width: 70px;
  white-space: nowrap;
}

.web-1920-5 .text-101 {
  letter-spacing: 0;
  line-height: 86px;
  margin-left: 28px;
  margin-top: 6.1px;
  min-height: 27px;
  min-width: 104px;
  white-space: nowrap;
}

.web-1920-5 .overlap-group7 {
  align-items: flex-start;
  align-self: flex-end;
  background-image: url(../img/file---110-1x-png-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 42px;
  justify-content: flex-end;
  margin-left: 368px;
  min-width: 42px;
  padding: 7.0px 6.9px;
}

.web-1920-5 .flex-col-1 {
  align-items: flex-end;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: -55px;
  margin-left: 12px;
  min-height: 82px;
  width: 218px;
}

.web-1920-5 .text-102 {
  letter-spacing: 0;
  line-height: 89px;
  margin-right: 3px;
  min-height: 23px;
  min-width: 115px;
  white-space: nowrap;
}

.web-1920-5 .overlap-group45 {
  height: 48px;
  position: relative;
  width: 218px;
}

.web-1920-5 .x4-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 152px;
  position: fixed;
  top: 0;
  width: 1920px;
}

.web-1920-5 .overlap-group8 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 150px;
  justify-content: flex-end;
  min-width: 1920px;
  padding: 36.4px 158.5px;
}

.web-1920-5 .x1497-1 {
  height: 61px;
  margin-top: 1.55px;
  object-fit: cover;
  width: 331px;
}

.web-1920-5 .price-1 {
  letter-spacing: 0;
  line-height: 86px;
  margin-bottom: 22.0px;
  margin-left: 74px;
  min-height: 29px;
  min-width: 41px;
  white-space: nowrap;
}

.web-1920-5 .faq-1 {
  letter-spacing: 0;
  line-height: 86px;
  margin-bottom: 22.0px;
  margin-left: 28px;
  min-height: 29px;
  min-width: 133px;
  white-space: nowrap;
}

.web-1920-5 .text-103 {
  letter-spacing: 0;
  line-height: 86px;
  margin-bottom: 22.0px;
  margin-left: 28px;
  min-height: 29px;
  min-width: 135px;
  white-space: nowrap;
}

.web-1920-5 .text-104 {
  letter-spacing: 0;
  line-height: 86px;
  margin-bottom: 22.0px;
  margin-left: 28px;
  min-height: 29px;
  min-width: 78px;
  white-space: nowrap;
}

.web-1920-5 .text-105 {
  letter-spacing: 0;
  line-height: 86px;
  margin-bottom: 22.0px;
  margin-left: 28px;
  min-height: 29px;
  min-width: 116px;
  white-space: nowrap;
}

.web-1920-5 .x17-1 {
  background-color: var(--fern-frond);
  height: 2px;
  width: 1920px;
}

.web-1920-5 .text-106 {
  left: 360px;
  letter-spacing: 0;
  line-height: 65px;
  position: absolute;
  top: 1136px;
  white-space: nowrap;
}

.web-1920-5 .text-107 {
  left: 360px;
  letter-spacing: 0;
  line-height: 65px;
  position: absolute;
  top: 1716px;
  white-space: nowrap;
}

.web-1920-5 .overlap-group14 {
  background-image: url(../img/file----------2022-11-18-11-36-01@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 972px;
  left: 360px;
  position: absolute;
  top: 5571px;
  width: 1200px;
}

.web-1920-5 .x1578 {
  background-image: url(../img/file---31@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 64px;
  left: 659px;
  position: absolute;
  top: 322px;
  width: 64px;
}

.web-1920-5 .x1581 {
  background-image: url(../img/file---31@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 64px;
  left: 568px;
  position: absolute;
  top: 322px;
  width: 64px;
}

.web-1920-5 .x1583 {
  background-image: url(../img/file---31@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 64px;
  left: 568px;
  position: absolute;
  top: 250px;
  width: 64px;
}

.web-1920-5 .x1585 {
  background-image: url(../img/file---31@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 64px;
  left: 621px;
  position: absolute;
  top: 218px;
  width: 64px;
}

.web-1920-5 .x1579 {
  background-image: url(../img/file---31@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 64px;
  left: 700px;
  position: absolute;
  top: 362px;
  width: 64px;
}

.web-1920-5 .x1580 {
  background-image: url(../img/file---31@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 64px;
  left: 609px;
  position: absolute;
  top: 362px;
  width: 64px;
}

.web-1920-5 .x1582 {
  background-image: url(../img/file---31@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 64px;
  left: 609px;
  position: absolute;
  top: 290px;
  width: 64px;
}

.web-1920-5 .x1584 {
  background-image: url(../img/file---31@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 64px;
  left: 662px;
  position: absolute;
  top: 258px;
  width: 64px;
}

.web-1920-5 .component-play-white-3 {
  align-items: flex-start;
  display: flex;
  height: 70px;
  left: 1170px;
  min-width: 70px;
  position: absolute;
}

.web-1920-5 .details_pr {
  height: 270px;
  object-fit: cover;
  position: absolute;
  top: 8671px;
  width: 270px;
}

.web-1920-5 .letter {
  height: 356px;
  left: 1204px;
  object-fit: cover;
  position: absolute;
  width: 350px;
}

.web-1920-5 .text-container-5 {
  align-items: flex-start;
  display: flex;
  margin-top: 42px;
}

.web-1920-5 .x1508-3 {
  align-items: flex-start;
  background-color: var(--barley-corn);
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  margin-top: 5px;
  min-width: 180px;
  padding: 9.5px 26px;
}

.web-1920-5 .x2-8 {
  height: 70px;
  position: absolute;
}

.web-1920-5 .x5-9 {
  object-fit: cover;
  position: absolute;
}
